.dashboard {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: start
}

.container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  align-content: center;
  margin: 20px;
}

.container-item {
  flex: 0 0 auto;
  margin: 12px;
}
