<h3>Current readings</h3>
<h4>{{ time }}</h4>
<table>
<tr><td style="font-weight: bold; color: #AA0000;">Temperature:</td><td>{{ temp }}&deg;C</td></tr>
<tr><td style="font-weight: bold; color: #1978D4;">Humidity:</td><td>{{ humi }}%</td></tr>
<tr><td style="font-weight: bold; color: #007A7C;">Pressure:</td><td>{{ pres }}&nbsp;hPa</td></tr>
<tr><td style="font-weight: bold; color: #F9C642;">Light:</td><td>{{ lux }} lux</td></tr>
<tr><td style="font-weight: bold; color: #D35400;">Nitrogen Dioxide:</td><td>{{ oxi }}&nbsp;k&Omega;</td></tr>
<tr><td style="font-weight: bold; color: #333333;">Carbon Monoxide:</td><td>{{ red }}&nbsp;k&Omega;</td></tr>
<tr><td style="font-weight: bold; color: #2E0854;">Ammonia (NH<sub>3</sub>):</td><td>{{ nh3 }}&nbsp;k&Omega;</td></tr>
</table>
